@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,100&family=Roboto+Mono:wght@100&display=swap');

.success {
  color: #242a44;
  background:#244444;
  font-size: 20px;
  font-family: 'Josefin Sans';
  text-align: center;
  border-style: solid;
  border-radius: 5px;
  border-color: #204044;
  padding: 10px;
  margin-bottom: 10px;
}









.error {
  color: #435b5d;
  background: #70dcb1;
  font-size: 20px;
  font-family: 'Josefin Sans';
  text-align: center;
  border-style: solid;
  border-radius: 5px;
  border-color: #244344;
  padding: 10px;
  margin-bottom: 10px;
}